<section class="container" [ngClass]="{ 'form-shadow': RegisterForm.touched }">
  <header>Registration Form</header>

  <form class="form" (ngSubmit)="OnFormSubmited()" #RegisterForm="ngForm">
    <div class="column">
      <div class="input-box">
        <input
          type="text"
          placeholder="First Name"
          required
          name="FirstName"
          [(ngModel)]="fName"
          #FirstName="ngModel"
        />
        <div *ngIf="FirstName.invalid" class="text-danger">
          <small
            class="text-danger"
            *ngIf="FirstName.errors['required'] && FirstName.touched"
          >
            First name Is Required
          </small>
        </div>
      </div>

      <div class="input-box">
        <input
          type="text"
          placeholder="Last Name"
          required
          name="LastName"
          [(ngModel)]="lName"
          #LastName="ngModel"
        />
        <div *ngIf="LastName.invalid" class="text-danger">
          <small
            class="text-danger"
            *ngIf="LastName.errors['required'] && LastName.touched"
          >
            last name Is Required
          </small>
        </div>
      </div>
    </div>

    <div class="input-box">
      <input
        type="text"
        required
        email
        placeholder="Email"
        name="Email"
        [(ngModel)]="UserEmail"
        #Email="ngModel"
      />
      <div *ngIf="Email.invalid" class="text-danger">
        <small
          class="text-danger"
          *ngIf="Email.errors['required'] && Email.touched"
        >
          Email Is Required
        </small>
        <small class="text-danger" *ngIf="Email.errors['email']">
          Email Is Not Valid
        </small>
      </div>
    </div>
    <div class="column">
      <div class="input-box">
        <input type="number" placeholder="Phone Number" name="Phone" ngModel />
      </div>
      <div class="input-box">
        <input
          type="date"
          placeholder="Date of Birth"
          name="DOB"
          [(ngModel)]="DateOfBirth"
          required
          #date="ngModel"
        />
      </div>
    </div>

    <div class="input-box">
      <div class="input-container" style="width: 100%">
        <input
          type="text"
          placeholder="username"
          ngModel
          required
          name="username"
          #userName="ngModel"
        />
        <i
          (click)="CalcUserName()"
          *ngIf="
            FirstName.valid && LastName.valid && date.valid && userName.invalid
          "
          class="fa-solid fa-rotate"
          style="cursor: pointer"
        ></i>
      </div>
      <div>
        <div class="mt-2" *ngIf="userName.invalid && userName.touched">
          user name is Required Field
        </div>
      </div>
    </div>

    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input
            type="radio"
            id="check-male"
            name="gender"
            ngModel
            value="male"
          />
          <label for="check-male">male</label>
        </div>
        <div class="gender">
          <input
            type="radio"
            id="check-female"
            name="gender"
            ngModel
            value="female"
          />
          <label for="check-female">Female</label>
        </div>
        <div class="gender">
          <input
            type="radio"
            id="check-other"
            name="gender"
            ngModel
            value="Unknown"
          />
          <label for="check-other">prefer not to say</label>
        </div>
      </div>
    </div>

    <div
      class="input-box address"
      ngModelGroup="address"
      #FormGroub="ngModelGroup"
    >
      <label>Address</label>
      <input
        type="text"
        placeholder="Street address"
        name="Street1"
        ngModel
        required
      />
      <input
        type="text"
        placeholder="Street address line 2"
        name="Street2"
        ngModel
        required
      />
      <div class="column">
        <div class="select-box">
          <select name="Country" ngModel required>
            <option selected disabled value="">--Select Country</option>
            <option>America</option>
            <option>Japan</option>
            <option>India</option>
            <option>Nepal</option>
          </select>
        </div>
        <input type="text" placeholder="City" name="City" ngModel required />
      </div>
      <div class="column">
        <input type="text" placeholder="Region" name="Region" ngModel />
        <input
          type="number"
          placeholder="Postal code"
          name="Code"
          ngModel
          required
        />
      </div>
    </div>
    <small *ngIf="FormGroub.invalid && FormGroub.touched"
      >Some od Address Field Does not Contain Valid Value</small
    >
    <div class="w-100 d-flex justify-content-center">
      <input
        [disabled]="RegisterForm.invalid"
        type="submit"
        value="Submit"
        class="btn btn-danger w-50 mt-3"
      />
    </div>
    <input type="checkbox" name="agree" ngModel [(ngModel)]="IsAgreed" />
    <label for="agree">i agree to terms & condition</label>
  </form>
</section>
